div.menu.column.is-one-quarter.is-hidden-mobile
  div.columns
    div.column.is-half
      a(href="/")
        figure.image
          img(src=config.root + theme.logo_desktop)
  each cat in site.categories.toArray()
    p.menu-label= cat.name
    ul.menu-list
      each post in cat.posts.toArray()
        li
          a(href= config.root + post.canonical_path) #{ post.title }
  br
  ul.menu-list
    each page in site.pages.toArray()
      unless page.title === 'home'
        li
          a(href= config.root + page.canonical_path) #{ page.title }
