div.container.is-hidden-tablet
  nav.nav
    div.nav-center
      - console.log('config.root :', config.root)
      a(href=config.root).nav-item
        span.logo-mobile Charlotte Thomas
    label(for='menu-toggle').nav-toggle
      span
      span
      span
    input#menu-toggle(type='checkbox')
    div#menu.nav-right.nav-menu
      each cat in site.categories.toArray()
        div.menu.nav-item
          p.menu-label= cat.name
            ul.menu-list
              each post in cat.posts.toArray()
                li
                  a(href= config.root + post.canonical_path) #{ post.title }
      each page in site.pages.toArray()
        unless page.title === 'home'
          div.menu.nav-item
            ul.menu-list
              li
                a(href= config.root + page.canonical_path) #{ page.title }
