mixin cat-mobile(cat)
  div.menu.nav-item
    p.menu-label= cat.name
      ul.menu-list
        each post in cat.posts.toArray().sort(function(a,b){return a.date.isAfter(b.date)})
          li
            a(href= config.root + post.canonical_path) #{ post.title }

div.container.is-hidden-tablet
  nav.nav
    div.nav-center
      a(href=config.root).nav-item
        span.logo-mobile Charlotte Thomas
    label(for='menu-toggle').nav-toggle
      span
      span
      span
    input#menu-toggle(type='checkbox')
    div#menu.nav-right.nav-menu
      //- TODO: Define categories order in site config
      - var linCat = site.categories.toArray().find(function(cat){return cat.slug === 'lin'})
      - var linAndCrinCat = site.categories.toArray().find(function(cat){return cat.name === 'lin & crin'})
      - var hautesHerbesCat = site.categories.toArray().find(function(cat){return cat.slug === 'hautes-herbes'})
      - var stratesCat = site.categories.toArray().find(function(cat){return cat.slug === 'strates'})
      +cat-mobile(linCat)
      +cat-mobile(linAndCrinCat)
      +cat-mobile(hautesHerbesCat)
      +cat-mobile(stratesCat)
      each page in site.pages.toArray()
        unless page.title === 'home'
          div.menu.nav-item
            ul.menu-list
              li
                a(href= config.root + page.canonical_path) #{ page.title }
