div.menu.column.is-2
  each cat in site.categories.toArray()
    p.menu-label= cat.name
    ul.menu-list
      each post in cat.posts.toArray()
        li
          a(href= config.root + post.canonical_path) #{ post.title }
  hr
  ul.menu-list
    each page in site.pages.toArray()
      li
        a(href= config.root + page.canonical_path) #{ page.title }
