div.container.is-hidden-tablet
  nav.nav
    div.nav-center
      a(href=config.root).nav-item
        span.logo-mobile Charlotte Thomas
    label(for='menu-toggle').nav-toggle
      span
      span
      span
    input#menu-toggle(type='checkbox')
    div#menu.nav-right.nav-menu
      each cat in site.categories.toArray()
        span.nav-item= cat.name
        each post in cat.posts.toArray()
          a.nav-item(href= config.root + post.canonical_path) #{ post.title }
