mixin image(imageUrl)
  figure.image
    img(src=imageUrl)
    
mixin work(work)
  div.columns.work
    div.column
      if !work.layout || work.layout === 'default'
        each imageUrl, index in work.images
          +image(imageUrl)
      if work.layout === 'columns'
        div.columns
          each imageUrl, index in work.images
            div.column
              +image(imageUrl)
    div.cartel-container.column.is-one-quarter
      div.cartel!= work.cartel

div.column.page-content
  if page.works && page.works.top
    each work in page.works.top
      +work(work)
  div.columns
    div.column.is-three-quarters!= page.content
  if page.works && page.works.bottom
    each work in page.works.bottom
      +work(work)
