@import "../../node_modules/bulma/bulma";

.logo {
  font-family: 'EB Garamond', serif;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 3em;
  display: block;
  word-break: break-all;
  text-align: justify;
  margin: 140px;
  text-transform: uppercase;
}
