@import "colors";
@import "../../node_modules/bulma/bulma";
@import "zoomer";
.logo {
	// font-family: 'EB Garamond', serif;

	max-height: 70vh;
	max-width: 150px;

	&-typo {
		font-family: 'EB Garamond', serif;
		font-size: 4em;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		width: 3em;
		display: block;
		word-break: break-all;
		text-align: justify;
		margin: 140px;
		text-transform: uppercase;
	}
}

.logo-mobile {
	color: black;
	font-family: "Times New Roman", serif;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
	margin-right: -3.5rem;
}


.menu .menu {
	&-list a {
		padding: 0;
		&:hover {
			background-color: transparent;
		}
	}
	&-label {
		margin-bottom: 0;
	}
}
.menu.nav-item {
	display: block;
}


nav.nav {
	label {
		cursor: pointer;
	}
	#menu-toggle {
		display: none;
	}
	#menu {
		max-height: 0;
		display: block;
		overflow: hidden;
		-webkit-transition: max-height 260ms linear;
		-moz-transition: max-height 260ms linear;
		-ms-transition: max-height 260ms linear;
		transition: max-height 260ms linear;
	}
	#menu-toggle:checked + #menu {
		max-height: 93vh;
	}
}


.work {
	.image {
		margin-bottom: 0.5rem;
	}
	.cartel {
		margin-top: 0;
		font-size: 0.80em;
		line-height: 1.4em;
	}
	@media (max-width: $tablet){
		.cartel-container {
			margin-top: -1.5rem;
		}
		.columns {
			.column:not(:last-child){
				padding-bottom: 0;
			}
			.column:not(:first-child) {
				padding-top: 0;
			}
		}
	}
	@media (min-width: $tablet){
		.cartel-container {
			margin-left: -1rem;
			position: relative;
			.cartel {
				position: absolute;
				bottom: 1rem;
			}
		}
		.columns {
			.column{
				padding-right: 0.25rem;
				padding-left: 0.25rem;
			}
			.column:last-child {
				padding-right: 0.75rem;
			}
			.column:first-child {
				padding-left: 0.75rem;
			}
		}

	}
}
