.page-content
  if page.top_works
    each work in page.top_works
      +work(work)
  .columns
    .column.is-three-quarters!= page.content
  if page.bottom_works
    each work in page.bottom_works
      +work(work)
