doctype html
include mixins.pug
html
  include partials/head.pug
  body
    include partials/menu_mobile.pug
    section.section
      .container
        .columns
          include partials/menu_desktop.pug
          .column
            if !page.layout
              include content_index.pug
            else if page.layout === 'page'
              include content_page.pug
            else if page.layout === 'post'
              include content_post.pug
    //- script(src=config.root + 'js/image_zoom.min.js')
    script(src=config.root + 'js/image_zoom.js')
    script(src=config.root + 'js/app.js')
    include partials/foot.pug
