//- index.pug
doctype html
html
  include _partials/head.pug
  body
    include _partials/menu_mobile.pug  
    section.section
      div.container
        div.columns
          include _partials/menu_desktop.pug  
          include _partials/page_content.pug
    include _partials/foot.pug
