//- mixin image(imageUrl)
//-   - console.log('imageUrl :', imageUrl)
//-   figure.image
//-     img(src=imageUrl)

doctype html
html
  include _partials/head.pug
  body
    include _partials/menu_mobile.pug  
    section.section
      .container
        .columns
          include _partials/menu_desktop.pug
          .column
            //- div!= page.content
            block content
              div!= page.content
    include _partials/foot.pug
