mixin image(imageUrl)
  - console.log('imageUrl :', imageUrl)
  figure.image
    img(src=imageUrl)


mixin work(work)
  .columns.work
    .column
      if !work.layout || work.layout === 'default'
        each imageUrl in work.images
          +image(imageUrl)
      if work.layout === 'columns'
        .columns
          each imageUrl in work.images
            .column
              +image(imageUrl)
    .cartel-container.column.is-one-quarter
      .cartel!= work.cartel
